@model MAIOCEAN.Models.Especie

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.NomeEspecie)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoEspecie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescricaoEspecie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatusEspecie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatusEspecie)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdEspecie">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


