@model IEnumerable<MAIOCEAN.Models.Especie>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeEspecie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoEspecie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusEspecie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeEspecie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescricaoEspecie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusEspecie)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdEspecie">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdEspecie">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdEspecie">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>



